.wrapper2 {
  height: 500px;
  width: 500px;
  display: inline-block;
  position: relative;
}
.pie2 {
  position: absolute;
  width: 250px;
  height: 500px;
  left: 250px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
/* .pie2:nth-of-type(1):before,
.pie2:nth-of-type(1):after {
  background-color: #1a2659;
} */

#red1{
  color: #ff0000;
}

#orange1{
  color: #ffa500;
}

#green1{
  color: #00cc00;
}

.pie2#red2:nth-of-type(1):before,
.pie2#red2:nth-of-type(1):after{
  background-color: #ff0000;
}

.pie2#orange2:nth-of-type(1):before,
.pie2#orange2:nth-of-type(1):after{
  background-color: #ffa500;
}

.pie2#green2:nth-of-type(1):before,
.pie2#green2:nth-of-type(1):after{
  background-color: #00cc00;
}

.pie2:nth-of-type(2):before,
.pie2:nth-of-type(2):after {
  background-color: #ccc;
}
.pie2:before {
  content: "";
  position: absolute;
  width: 250px;
  height: 500px;
  left: -250px;
  border-radius: 250px 0 0 250px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  z-index: 0;
}
.pie2.big {
  width: 500px;
  height: 500px;
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.pie2.big:before {
  left: 0;
  z-index: 1;
}
.pie2.big:after {
  content: "";
  position: absolute;
  width: 250px;
  height: 500px;
  left: 250px;
  border-radius: 0 250px 250px 0;
}
.pie2.over {
  width: 400px;
  height: 400px;
  left: 50px;
  top: 50px;
  background-color: #fff;
  border-radius: 400px;
  z-index: 2;
  display: table;
}
.pie2.over span {
  display: table-cell;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.start2-1 {
  -webkit-transform: rotate(3.6deg);
          transform: rotate(3.6deg);
}
.start2-2 {
  -webkit-transform: rotate(7.2deg);
          transform: rotate(7.2deg);
}
.start2-3 {
  -webkit-transform: rotate(10.8deg);
          transform: rotate(10.8deg);
}
.start2-4 {
  -webkit-transform: rotate(14.4deg);
          transform: rotate(14.4deg);
}
.start2-5 {
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}
.start2-6 {
  -webkit-transform: rotate(21.6deg);
          transform: rotate(21.6deg);
}
.start2-7 {
  -webkit-transform: rotate(25.2deg);
          transform: rotate(25.2deg);
}
.start2-8 {
  -webkit-transform: rotate(28.8deg);
          transform: rotate(28.8deg);
}
.start2-9 {
  -webkit-transform: rotate(32.4deg);
          transform: rotate(32.4deg);
}
.start2-10 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
.start2-11 {
  -webkit-transform: rotate(39.6deg);
          transform: rotate(39.6deg);
}
.start2-12 {
  -webkit-transform: rotate(43.2deg);
          transform: rotate(43.2deg);
}
.start2-13 {
  -webkit-transform: rotate(46.8deg);
          transform: rotate(46.8deg);
}
.start2-14 {
  -webkit-transform: rotate(50.4deg);
          transform: rotate(50.4deg);
}
.start2-15 {
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}
.start2-16 {
  -webkit-transform: rotate(57.6deg);
          transform: rotate(57.6deg);
}
.start2-17 {
  -webkit-transform: rotate(61.2deg);
          transform: rotate(61.2deg);
}
.start2-18 {
  -webkit-transform: rotate(64.8deg);
          transform: rotate(64.8deg);
}
.start2-19 {
  -webkit-transform: rotate(68.4deg);
          transform: rotate(68.4deg);
}
.start2-20 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.start2-21 {
  -webkit-transform: rotate(75.6deg);
          transform: rotate(75.6deg);
}
.start2-22 {
  -webkit-transform: rotate(79.2deg);
          transform: rotate(79.2deg);
}
.start2-23 {
  -webkit-transform: rotate(82.8deg);
          transform: rotate(82.8deg);
}
.start2-24 {
  -webkit-transform: rotate(86.4deg);
          transform: rotate(86.4deg);
}
.start2-25 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.start2-26 {
  -webkit-transform: rotate(93.6deg);
          transform: rotate(93.6deg);
}
.start2-27 {
  -webkit-transform: rotate(97.2deg);
          transform: rotate(97.2deg);
}
.start2-28 {
  -webkit-transform: rotate(500.8deg);
          transform: rotate(500.8deg);
}
.start2-29 {
  -webkit-transform: rotate(104.4deg);
          transform: rotate(104.4deg);
}
.start2-30 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.start2-31 {
  -webkit-transform: rotate(111.6deg);
          transform: rotate(111.6deg);
}
.start2-32 {
  -webkit-transform: rotate(115.2deg);
          transform: rotate(115.2deg);
}
.start2-33 {
  -webkit-transform: rotate(118.8deg);
          transform: rotate(118.8deg);
}
.start2-34 {
  -webkit-transform: rotate(122.4deg);
          transform: rotate(122.4deg);
}
.start2-35 {
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}
.start2-36 {
  -webkit-transform: rotate(129.6deg);
          transform: rotate(129.6deg);
}
.start2-37 {
  -webkit-transform: rotate(133.2deg);
          transform: rotate(133.2deg);
}
.start2-38 {
  -webkit-transform: rotate(136.8deg);
          transform: rotate(136.8deg);
}
.start2-39 {
  -webkit-transform: rotate(140.4deg);
          transform: rotate(140.4deg);
}
.start2-40 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
.start2-41 {
  -webkit-transform: rotate(147.6deg);
          transform: rotate(147.6deg);
}
.start2-42 {
  -webkit-transform: rotate(151.2deg);
          transform: rotate(151.2deg);
}
.start2-43 {
  -webkit-transform: rotate(154.8deg);
          transform: rotate(154.8deg);
}
.start2-44 {
  -webkit-transform: rotate(158.4deg);
          transform: rotate(158.4deg);
}
.start2-45 {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.start2-46 {
  -webkit-transform: rotate(165.6deg);
          transform: rotate(165.6deg);
}
.start2-47 {
  -webkit-transform: rotate(169.2deg);
          transform: rotate(169.2deg);
}
.start2-48 {
  -webkit-transform: rotate(172.8deg);
          transform: rotate(172.8deg);
}
.start2-49 {
  -webkit-transform: rotate(176.4deg);
          transform: rotate(176.4deg);
}
.start2-50 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.start2-51 {
  -webkit-transform: rotate(183.6deg);
          transform: rotate(183.6deg);
}
.start2-52 {
  -webkit-transform: rotate(187.2deg);
          transform: rotate(187.2deg);
}
.start2-53 {
  -webkit-transform: rotate(190.8deg);
          transform: rotate(190.8deg);
}
.start2-54 {
  -webkit-transform: rotate(194.4deg);
          transform: rotate(194.4deg);
}
.start2-55 {
  -webkit-transform: rotate(198deg);
          transform: rotate(198deg);
}
.start2-56 {
  -webkit-transform: rotate(201.6deg);
          transform: rotate(201.6deg);
}
.start2-57 {
  -webkit-transform: rotate(205.2deg);
          transform: rotate(205.2deg);
}
.start2-58 {
  -webkit-transform: rotate(208.8deg);
          transform: rotate(208.8deg);
}
.start2-59 {
  -webkit-transform: rotate(212.4deg);
          transform: rotate(212.4deg);
}
.start2-60 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.start2-61 {
  -webkit-transform: rotate(219.6deg);
          transform: rotate(219.6deg);
}
.start2-62 {
  -webkit-transform: rotate(223.2deg);
          transform: rotate(223.2deg);
}
.start2-63 {
  -webkit-transform: rotate(226.8deg);
          transform: rotate(226.8deg);
}
.start2-64 {
  -webkit-transform: rotate(230.4deg);
          transform: rotate(230.4deg);
}
.start2-65 {
  -webkit-transform: rotate(234deg);
          transform: rotate(234deg);
}
.start2-66 {
  -webkit-transform: rotate(237.6deg);
          transform: rotate(237.6deg);
}
.start2-67 {
  -webkit-transform: rotate(241.2deg);
          transform: rotate(241.2deg);
}
.start2-68 {
  -webkit-transform: rotate(244.8deg);
          transform: rotate(244.8deg);
}
.start2-69 {
  -webkit-transform: rotate(248.4deg);
          transform: rotate(248.4deg);
}
.start2-70 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}
.start2-71 {
  -webkit-transform: rotate(255.6deg);
          transform: rotate(255.6deg);
}
.start2-72 {
  -webkit-transform: rotate(259.2deg);
          transform: rotate(259.2deg);
}
.start2-73 {
  -webkit-transform: rotate(262.8deg);
          transform: rotate(262.8deg);
}
.start2-74 {
  -webkit-transform: rotate(266.4deg);
          transform: rotate(266.4deg);
}
.start2-75 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.start2-76 {
  -webkit-transform: rotate(273.6deg);
          transform: rotate(273.6deg);
}
.start2-77 {
  -webkit-transform: rotate(277.2deg);
          transform: rotate(277.2deg);
}
.start2-78 {
  -webkit-transform: rotate(280.8deg);
          transform: rotate(280.8deg);
}
.start2-79 {
  -webkit-transform: rotate(284.4deg);
          transform: rotate(284.4deg);
}
.start2-80 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}
.start2-81 {
  -webkit-transform: rotate(291.6deg);
          transform: rotate(291.6deg);
}
.start2-82 {
  -webkit-transform: rotate(295.2deg);
          transform: rotate(295.2deg);
}
.start2-83 {
  -webkit-transform: rotate(298.8deg);
          transform: rotate(298.8deg);
}
.start2-84 {
  -webkit-transform: rotate(302.4deg);
          transform: rotate(302.4deg);
}
.start2-85 {
  -webkit-transform: rotate(306deg);
          transform: rotate(306deg);
}
.start2-86 {
  -webkit-transform: rotate(309.6deg);
          transform: rotate(309.6deg);
}
.start2-87 {
  -webkit-transform: rotate(313.2deg);
          transform: rotate(313.2deg);
}
.start2-88 {
  -webkit-transform: rotate(316.8deg);
          transform: rotate(316.8deg);
}
.start2-89 {
  -webkit-transform: rotate(320.4deg);
          transform: rotate(320.4deg);
}
.start2-90 {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.start2-91 {
  -webkit-transform: rotate(327.6deg);
          transform: rotate(327.6deg);
}
.start2-92 {
  -webkit-transform: rotate(331.2deg);
          transform: rotate(331.2deg);
}
.start2-93 {
  -webkit-transform: rotate(334.8deg);
          transform: rotate(334.8deg);
}
.start2-94 {
  -webkit-transform: rotate(338.4deg);
          transform: rotate(338.4deg);
}
.start2-95 {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}
.start2-96 {
  -webkit-transform: rotate(345.6deg);
          transform: rotate(345.6deg);
}
.start2-97 {
  -webkit-transform: rotate(349.2deg);
          transform: rotate(349.2deg);
}
.start2-98 {
  -webkit-transform: rotate(352.8deg);
          transform: rotate(352.8deg);
}
.start2-99 {
  -webkit-transform: rotate(356.4deg);
          transform: rotate(356.4deg);
}
.start2-500 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.end2-1:before {
  -webkit-transform: rotate(4.6deg);
          transform: rotate(4.6deg);
}
.end2-2:before {
  -webkit-transform: rotate(8.2deg);
          transform: rotate(8.2deg);
}
.end2-3:before {
  -webkit-transform: rotate(11.8deg);
          transform: rotate(11.8deg);
}
.end2-4:before {
  -webkit-transform: rotate(15.4deg);
          transform: rotate(15.4deg);
}
.end2-5:before {
  -webkit-transform: rotate(19deg);
          transform: rotate(19deg);
}
.end2-6:before {
  -webkit-transform: rotate(22.6deg);
          transform: rotate(22.6deg);
}
.end2-7:before {
  -webkit-transform: rotate(26.2deg);
          transform: rotate(26.2deg);
}
.end2-8:before {
  -webkit-transform: rotate(29.8deg);
          transform: rotate(29.8deg);
}
.end2-9:before {
  -webkit-transform: rotate(33.4deg);
          transform: rotate(33.4deg);
}
.end2-10:before {
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}
.end2-11:before {
  -webkit-transform: rotate(40.6deg);
          transform: rotate(40.6deg);
}
.end2-12:before {
  -webkit-transform: rotate(44.2deg);
          transform: rotate(44.2deg);
}
.end2-13:before {
  -webkit-transform: rotate(47.8deg);
          transform: rotate(47.8deg);
}
.end2-14:before {
  -webkit-transform: rotate(51.4deg);
          transform: rotate(51.4deg);
}
.end2-15:before {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}
.end2-16:before {
  -webkit-transform: rotate(58.6deg);
          transform: rotate(58.6deg);
}
.end2-17:before {
  -webkit-transform: rotate(62.2deg);
          transform: rotate(62.2deg);
}
.end2-18:before {
  -webkit-transform: rotate(65.8deg);
          transform: rotate(65.8deg);
}
.end2-19:before {
  -webkit-transform: rotate(69.4deg);
          transform: rotate(69.4deg);
}
.end2-20:before {
  -webkit-transform: rotate(73deg);
          transform: rotate(73deg);
}
.end2-21:before {
  -webkit-transform: rotate(76.6deg);
          transform: rotate(76.6deg);
}
.end2-22:before {
  -webkit-transform: rotate(80.2deg);
          transform: rotate(80.2deg);
}
.end2-23:before {
  -webkit-transform: rotate(83.8deg);
          transform: rotate(83.8deg);
}
.end2-24:before {
  -webkit-transform: rotate(87.4deg);
          transform: rotate(87.4deg);
}
.end2-25:before {
  -webkit-transform: rotate(91deg);
          transform: rotate(91deg);
}
.end2-26:before {
  -webkit-transform: rotate(94.6deg);
          transform: rotate(94.6deg);
}
.end2-27:before {
  -webkit-transform: rotate(98.2deg);
          transform: rotate(98.2deg);
}
.end2-28:before {
  -webkit-transform: rotate(101.8deg);
          transform: rotate(101.8deg);
}
.end2-29:before {
  -webkit-transform: rotate(105.4deg);
          transform: rotate(105.4deg);
}
.end2-30:before {
  -webkit-transform: rotate(109deg);
          transform: rotate(109deg);
}
.end2-31:before {
  -webkit-transform: rotate(112.6deg);
          transform: rotate(112.6deg);
}
.end2-32:before {
  -webkit-transform: rotate(116.2deg);
          transform: rotate(116.2deg);
}
.end2-33:before {
  -webkit-transform: rotate(119.8deg);
          transform: rotate(119.8deg);
}
.end2-34:before {
  -webkit-transform: rotate(123.4deg);
          transform: rotate(123.4deg);
}
.end2-35:before {
  -webkit-transform: rotate(127deg);
          transform: rotate(127deg);
}
.end2-36:before {
  -webkit-transform: rotate(130.6deg);
          transform: rotate(130.6deg);
}
.end2-37:before {
  -webkit-transform: rotate(134.2deg);
          transform: rotate(134.2deg);
}
.end2-38:before {
  -webkit-transform: rotate(137.8deg);
          transform: rotate(137.8deg);
}
.end2-39:before {
  -webkit-transform: rotate(141.4deg);
          transform: rotate(141.4deg);
}
.end2-40:before {
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}
.end2-41:before {
  -webkit-transform: rotate(148.6deg);
          transform: rotate(148.6deg);
}
.end2-42:before {
  -webkit-transform: rotate(152.2deg);
          transform: rotate(152.2deg);
}
.end2-43:before {
  -webkit-transform: rotate(155.8deg);
          transform: rotate(155.8deg);
}
.end2-44:before {
  -webkit-transform: rotate(159.4deg);
          transform: rotate(159.4deg);
}
.end2-45:before {
  -webkit-transform: rotate(163deg);
          transform: rotate(163deg);
}
.end2-46:before {
  -webkit-transform: rotate(166.6deg);
          transform: rotate(166.6deg);
}
.end2-47:before {
  -webkit-transform: rotate(170.2deg);
          transform: rotate(170.2deg);
}
.end2-48:before {
  -webkit-transform: rotate(173.8deg);
          transform: rotate(173.8deg);
}
.end2-49:before {
  -webkit-transform: rotate(177.4deg);
          transform: rotate(177.4deg);
}
.end2-50:before {
  -webkit-transform: rotate(181deg);
          transform: rotate(181deg);
}
.end2-51:before {
  -webkit-transform: rotate(184.6deg);
          transform: rotate(184.6deg);
}
.end2-52:before {
  -webkit-transform: rotate(188.2deg);
          transform: rotate(188.2deg);
}
.end2-53:before {
  -webkit-transform: rotate(191.8deg);
          transform: rotate(191.8deg);
}
.end2-54:before {
  -webkit-transform: rotate(195.4deg);
          transform: rotate(195.4deg);
}
.end2-55:before {
  -webkit-transform: rotate(199deg);
          transform: rotate(199deg);
}
.end2-56:before {
  -webkit-transform: rotate(202.6deg);
          transform: rotate(202.6deg);
}
.end2-57:before {
  -webkit-transform: rotate(206.2deg);
          transform: rotate(206.2deg);
}
.end2-58:before {
  -webkit-transform: rotate(209.8deg);
          transform: rotate(209.8deg);
}
.end2-59:before {
  -webkit-transform: rotate(213.4deg);
          transform: rotate(213.4deg);
}
.end2-60:before {
  -webkit-transform: rotate(217deg);
          transform: rotate(217deg);
}
.end2-61:before {
  -webkit-transform: rotate(220.6deg);
          transform: rotate(220.6deg);
}
.end2-62:before {
  -webkit-transform: rotate(224.2deg);
          transform: rotate(224.2deg);
}
.end2-63:before {
  -webkit-transform: rotate(227.8deg);
          transform: rotate(227.8deg);
}
.end2-64:before {
  -webkit-transform: rotate(231.4deg);
          transform: rotate(231.4deg);
}
.end2-65:before {
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
}
.end2-66:before {
  -webkit-transform: rotate(238.6deg);
          transform: rotate(238.6deg);
}
.end2-67:before {
  -webkit-transform: rotate(242.2deg);
          transform: rotate(242.2deg);
}
.end2-68:before {
  -webkit-transform: rotate(245.8deg);
          transform: rotate(245.8deg);
}
.end2-69:before {
  -webkit-transform: rotate(249.4deg);
          transform: rotate(249.4deg);
}
.end2-70:before {
  -webkit-transform: rotate(253deg);
          transform: rotate(253deg);
}
.end2-71:before {
  -webkit-transform: rotate(256.6deg);
          transform: rotate(256.6deg);
}
.end2-72:before {
  -webkit-transform: rotate(260.2deg);
          transform: rotate(260.2deg);
}
.end2-73:before {
  -webkit-transform: rotate(263.8deg);
          transform: rotate(263.8deg);
}
.end2-74:before {
  -webkit-transform: rotate(267.4deg);
          transform: rotate(267.4deg);
}
.end2-75:before {
  -webkit-transform: rotate(271deg);
          transform: rotate(271deg);
}
.end2-76:before {
  -webkit-transform: rotate(274.6deg);
          transform: rotate(274.6deg);
}
.end2-77:before {
  -webkit-transform: rotate(278.2deg);
          transform: rotate(278.2deg);
}
.end2-78:before {
  -webkit-transform: rotate(281.8deg);
          transform: rotate(281.8deg);
}
.end2-79:before {
  -webkit-transform: rotate(285.4deg);
          transform: rotate(285.4deg);
}
.end2-80:before {
  -webkit-transform: rotate(289deg);
          transform: rotate(289deg);
}
.end2-81:before {
  -webkit-transform: rotate(292.6deg);
          transform: rotate(292.6deg);
}
.end2-82:before {
  -webkit-transform: rotate(296.2deg);
          transform: rotate(296.2deg);
}
.end2-83:before {
  -webkit-transform: rotate(299.8deg);
          transform: rotate(299.8deg);
}
.end2-84:before {
  -webkit-transform: rotate(303.4deg);
          transform: rotate(303.4deg);
}
.end2-85:before {
  -webkit-transform: rotate(307deg);
          transform: rotate(307deg);
}
.end2-86:before {
  -webkit-transform: rotate(310.6deg);
          transform: rotate(310.6deg);
}
.end2-87:before {
  -webkit-transform: rotate(314.2deg);
          transform: rotate(314.2deg);
}
.end2-88:before {
  -webkit-transform: rotate(317.8deg);
          transform: rotate(317.8deg);
}
.end2-89:before {
  -webkit-transform: rotate(321.4deg);
          transform: rotate(321.4deg);
}
.end2-90:before {
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
}
.end2-91:before {
  -webkit-transform: rotate(328.6deg);
          transform: rotate(328.6deg);
}
.end2-92:before {
  -webkit-transform: rotate(332.2deg);
          transform: rotate(332.2deg);
}
.end2-93:before {
  -webkit-transform: rotate(335.8deg);
          transform: rotate(335.8deg);
}
.end2-94:before {
  -webkit-transform: rotate(339.4deg);
          transform: rotate(339.4deg);
}
.end2-95:before {
  -webkit-transform: rotate(343deg);
          transform: rotate(343deg);
}
.end2-96:before {
  -webkit-transform: rotate(346.6deg);
          transform: rotate(346.6deg);
}
.end2-97:before {
  -webkit-transform: rotate(350.2deg);
          transform: rotate(350.2deg);
}
.end2-98:before {
  -webkit-transform: rotate(353.8deg);
          transform: rotate(353.8deg);
}
.end2-99:before {
  -webkit-transform: rotate(357.4deg);
          transform: rotate(357.4deg);
}
.end2-500:before {
  -webkit-transform: rotate(361deg);
          transform: rotate(361deg);
}
