:root {
  --grid-gap: 5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: #1a2659;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

#info{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #696969;
  text-align: left;
  float: left;
  width: 100%;
}

#table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #696969;
  width: 100%;
}

table tr th{
  text-align: left;
  width: 200px;
}

/* nav menu*/
 nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #fff;
}

.logo1{
  grid-column: 1;
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 250px;
  height: 150px;
}

.middle {
  grid-column: 2;
}

.logo2{
  grid-column: 3;
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 79px;
  height: 150px;
}

#title {
  display: inline;
  text-decoration: none;
  text-align: left;
  font-size: 32px;
  color: #454545;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 350px;
}

ul{
  text-align: center;
}

ul li {
  list-style: none;
  display: inline-block;
  float: center;
  line-height: 150px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #1a2659;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5px;
  float: left;
}

/*dashboard*/
.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  align-items: start;
}

@media (min-width: 768px) {
  .grid {
    grid-gap: var(--grid-gap);
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}

.one {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.two {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.energie {
  grid-column: 1;
  grid-row: 3;
  float: center;
}

.materiaal {
  grid-column: 2;
  grid-row: 3;
  float: center;
}

.comfort {
  grid-column: 3;
  grid-row: 3;
  float: center;
}
.water {
  grid-column: 4;
  grid-row: 3;
  float: center;
}
.proces {
  grid-column: 5;
  grid-row: 3;
  float: center;
}

}
