:root {
  --grid-gap: 15px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

.grid {
  display: grid;
  grid-auto-flow: row;
  align-items: start;
}

@media (min-width: 768px) {
  .grid {
    grid-gap: var(--grid-gap);
}

.grid-upper {
  grid-template-columns: repeat(3, 1fr);
}

.one {
  grid-column: 1 / 2;
}
.two {
  grid-column: 3;
}

.grid-lower {
  grid-template-columns: repeat(4, 1fr);
}

.three {
  grid-column: 20%;
  grid-row: 3;
}
.four {
  grid-column: 2;
  grid-row: 3;
}
.five {
  grid-column: 3;
  grid-row: 3;
}
.six {
  grid-column: 4;
  grid-row: 3;
}
.sev {
  grid-column: 1;
  grid-row: 4;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}
.nine {
  grid-column: 3;
  grid-row: 4;
}
.ten {
  grid-column: 4;
  grid-row: 4;
}
